%h2= @list.name + ' Items'

%table{border: 1}
  %tr
    %th Item name
    %th Path
  - @items.each do |item|
    %tr
      %td= item.name
      %td= link_to item.path, item.path
      %td= link_to '[Edit]', item_edit_path(item)
      %td= link_to '[Delete]', item_delete_path(item), method: :delete, data: {confirm: '削除しますか？'}
