%h2= @title.name + '確認項目一覧'

%table{border: 1}
  %tr
    %th ID
    %th 項目名
    %th リンク先
  - @lists.each do |list|
    %tr
      %td= list.id
      %td= list.item
      %td
        =link_to list.address, list.address
      %td= link_to '[編集]', list_edit_path(list)
      %td= link_to '[削除]', list_delete_path(list), method: :delete, data: {confirm: '削除しますか？'}
