= form_with url: source_select_date_path, method: :get do |f|
  = f.date_field :date, value: Time.now.strftime('%Y-%m-%d')
  = f.submit :submit

%table{border: 1}
  %tr
    %th PIC
    %th FLT No.
    %th Ship No.
    %th Route
    %th STD
    %th STA
    %th FLT Time
    %th C/C
    %th C/A
    %th AD
    %th CH
    %th TTL PAX
    %th Payload
  - @source.each do |s|
    / - binding.pry
    %tr
      %td= s.col4
      %td= s.col6
      %td= s.col11
      %td= s.col7
      %td= s.col8.strftime('%R')
      %td= s.col9.strftime('%R')
      %td= s.col10
      %td= s.col13
      %td= s.col15
      %td= s.col16
      %td= s.col17
      %td= s.col18
      %td= 'why?'