%h2= 'All Lists View'
= button_to 'Return', owners_show_path, method: :get
= button_to 'Sign Up', owners_list_new_path, method: :get

%table{border: 1, align: 'left'}
  %tr
    %th User name
  - @users.each do |user|
    %tr
      %td= user.name
  %tr
    %td Delete

%nobr
  %table{border: 0, align: 'left', width: '30'}
    %tr

%nobr
  %table{border: 1, align: 'left'}
    %tr
      %th List name
    - @lists.each do |list|
      %tr
        %td= list.name
    %tr
      %td Delete

%nobr
  %table{border: 0, align: 'left', width: '30'}
    %tr

%nobr
  %table{border: 1}
    %tr
      %th List name
      %th Item name
      %th Path
    - @items.each do |item|
      %tr
        %td= item.list.name
        %td= item.name
        %td= link_to item.path, item.path
        %td= link_to '[Edit]', item_edit_path(item)
        %td= link_to '[Delete]', item_delete_path(item), method: :delete, data: {confirm: '削除しますか？'}





