/ %h2 PIC搭乗便

= form_for Owner.new do |f|
  %h4= f.label :user, 'PIC'
  = f.text_field :user
  %h4= f.label :date, '搭乗日'
  = f.date_field :date, value: Time.now.strftime('%Y-%m-%d')
  %h4 搭乗便選択
  - List.group(:name).each do |list|
    = check_box :list, list.name
    = label_tag list.name, list.name
  %p= f.submit :submit