%h2 User's List Sign Up
= button_to 'Return', owners_show_path, method: :get

= form_for Owner.new do |f|
  %p= f.label :user
  = f.text_field :user
  %p
  - List.group(:name).each do |list|
    = check_box :list, list.name
    = label_tag list.name, list.name
  %p= f.submit :submit