%h2 Owner Monitoring View
= button_to 'All list', owners_index_path, method: :get
= button_to 'Sign Up', owners_list_new_path, method: :get
= button_to 'Logout', owners_login_path, method: :get

%table{border: 1, align: 'left'}
  %tr
    %th User name
    %th List name
  - @owners.each do |owner|
    %tr
      %td= User.find(owner.user_id).name
      %td= link_to List.find(owner.list_id).name, lists_show_path(owner.list_id)
      - List.find(owner.list_id).items.each do |item|
        %td= link_to item.name, item.path



/ - @users.each do |users|
/   - users.owners.each do |user|
/     = user.user.name
/     = user.list.name
/     - user.list.items.each do |item|
/       = item.name
/     %br