/ %h2 運航管理者監視画面
= form_with url: owners_show_path, method: :get, local: true do |f|
  = f.date_field :date_from, value: @select_date_from
  = f.label '〜'
  = f.date_field :date_to, value: @select_date_to
  = f.submit :submit


%table#owner_show{border: 1}
  %tr
    %th 日付
    / %th{width: 40} 確認
    %th{width: 80} 承認
    %th PIC
    %th{width: 90}  MSG
    %th 便名
    %th{width: 90} PLN No.
    %th{width: 90} FUEL
    %th{width: 90} FLT LVL
    %th{colspan: @items_max_number} チェック・リスト項目
  - @owners.each do |owner|
    %tr
      %td= owner[:date].strftime("%m%d")
      - if @user_id_ck == '' || @user_id_ck != owner.user_id
        - n = @owners.where(user_id: owner.user_id, date: owner.date).size
        / %td{rowspan: n, :style => 'text-align: center;'}
        /   %button#ck_button{type: 'button'} 確認
        - if owner.acknowledgment.blank?
          %td.accept_ack{rowspan: n}= owner.acknowledgment
        - else
          %td.accept_ack{rowspan: n}= owner.acknowledgment.strftime("%Y-%m-%d %H:%M %Z")
        %td{rowspan: n}= User.find(owner.user_id).name
        %td.msg{rowspan: n}= owner[:msg]
      %td= link_to List.find(owner.list_id).name, lists_show_path(id: owner.list_id)
      %td= owner[:pln_num]
      %td= owner[:fuel]
      %td= owner[:fl]
      - List.find(owner.list_id).items.order(:id).each do |item|
        - if !item.file.blank?
          %td{width: 80}= link_to item.name, item.file.url, target: '_blank'
        - elsif !item.url.blank?
          %td{width: 80}= link_to item.name, item.url, target: '_blank'
        - else
          %td{width: 80}= item.name
      - @user_id_ck = owner.user_id