/ %h2 運航管理者監視画面
= form_with url: source_index_path, method: :get, local: true do |f|
  = f.date_field :date, value: @select_date
  = f.submit :submit


%table{border: 1, width: 1500}
  %tr
    %th{width: 40} 確認
    %th{width: 90} 承認
    %th PIC
    %th{width: 90}  MSG
    %th 便名
    %th{width: 90} FUEL
    %th{width: 90} FLT LVL
    %th{colspan: @items_max_number} チェック・リスト項目
  - @owners.each do |owner|
    %tr
      - if @user_id_ck == '' || @user_id_ck != owner.user_id
        - n = @owners.where(user_id: owner.user_id).size
        %td{rowspan: n, :style => 'text-align: center;'}
          %button#ck_button{type: 'button'} 確認
        - if owner.acknowledgment.blank?
          %td#accept_ack{rowspan: n}= owner.acknowledgment
        - else
          %td#accept_ack{rowspan: n}= owner.acknowledgment.strftime("%Y-%m-%d %H:%M %Z")
        %td{rowspan: n}= User.find(owner.user_id).name
        %td{rowspan: n}= owner[:msg]
      %td= link_to List.find(owner.list_id).name, lists_show_path(id: owner.list_id)
      %td= owner[:fuel]
      %td= owner[:fl]
      - List.find(owner.list_id).items.each do |item|
        - if !item.file.blank?
          %td= link_to item.name, item.file.url, target: '_blank'
        - elsif !item.url.blank?
          %td= link_to item.name, item.url, target: '_blank'
        - else
          %td= item.name
      - @user_id_ck = owner.user_id
