%h2 ユーザー確認リスト編集画面

= form_for @user, url: user_update_path(@user) do |f|
  %p= f.label :名前
  = f.text_field :name
  %p= f.label :list1
  = f.text_field :list1
  %p= f.label :list2
  = f.text_field :list2
  %p= f.label :list3
  = f.text_field :list3
  %p= f.label :list4
  = f.text_field :list4
  %p= f.label :list5
  = f.text_field :list5
  %p= f.label :list6
  = f.text_field :list6
  %p= f.label :list7
  = f.text_field :list7
  %p= f.label :list8
  = f.text_field :list8
  %p= f.submit :登録