%body{bgcolor: '#C0C0C0'}

%p
  = 'PIC： ' + "#{@user.name}"
  = button_to 'Logout', owners_login_path, method: :get

%table{border: 1, height: 800, width: 1200}
  %tr{height: 20}
    %th{width: '10%'}
    %th{width: '90%'}
  %tr{height: 780}
    %td
      - @items.each do |item|
        / = button_to item.item, user_item_path(item)
        = button_to item.item, user_item_path(item:{id: item.id, user_name: @user.name})

    %td
      %object{data: "#{@image}"}
