%body{bgcolor: '#C0C0C0'}

%p
  = 'PIC： ' + "#{@user.name}"
  = button_to 'Logout', owners_login_path, method: :get

%table{border: 1, height: 800, width: 1200}
  %tr{height: 20}
    %th{width: '10%'}
    %th{width: '90%'}
  %tr{height: 780}
    %td{valign: 'top'}
      = form_with url: owners_acknowledgment_path, method: :get do |f|
        %table#ack_chk_boxes
          - @items.each do |item|
            %tr
              %td= link_to item.name, user_item_path(item:{id: item.id, user_name: @user.name}), class: 'button01'
              %td= check_box :item, item.name, class: 'ack_chk_box'
        = f.hidden_field :ack_user, value: @user.id
        = f.submit 'Acknowledgment', id: 'acknowledgment', disabled: 'disabled'
    %td
      %object{data: "#{@image}"}





      / = form_with url: owners_acknowledgment_path, method: :get, local: true do |f|
      /   %table#ack_chk_boxes
      /     - @items.each do |item|
      /       %tr
      /         %td= link_to item.name, user_item_path(item:{id: item.id, user_name: @user.name}), class: 'button01'
      /         %td= check_box :item, item.name, class: 'ack_chk_box'
      /   = f.hidden_field :ack_user, value: @user.id
      /   = f.submit 'Acknowledgment', id: 'acknowledgment', disabled: 'disabled'