%body{bgcolor: '#C0C0C0'}

%div.print_off

  %h2= 'PIC： ' + @user.name

  %table{border: 1, height: 800, width: 1200}
    %tr{height: 20}
      %th{width: '10%'}
      %th{width: '90%'}
    %tr{height: 780}
      %td{valign: 'top'}
        = form_with url: users_acknowledgment_path do |f|          # , method: :get, local: true -> html
          %table#ack_chk_boxes
            - @items.each do |item|
              %tr
                %td.button01{id: "button#{item.id}"}= item.name
                %td= check_box :item, item.name, id: "check_box#{item.id}", class: 'ack_chk_box', disabled: 'disabled'

          / %a{href: "https://www.data.jma.go.jp/airinfo/data/pict/fbjp/fbjp.png", width: '100%', height: 'auto'} 印刷
          / %input{:onclick => "window.print();", :type => "button", :value => "印刷"}
          %button#print_button{type: 'button'}
            Print

          = f.hidden_field :ack_user, value: @user.name
          = f.submit 'Acknowledgment', id: 'acknowledgment', disabled: 'disabled'
          %h5#sended= ''
      %td#image{valign: 'top'}