%h2 List Item Edit View
/ = button_to 'Return to Monitoring View', owners_show_path, method: :get
/ = link_to 'Return', :back
= button_to 'Return', :back, method: :get

= form_for @item, url: item_update_path(@item)  do |f|
  = f.label :name, 'Item Edit'
  = f.text_field :name
  %br
  = f.label :list_id
  = f.collection_select :list_id, List.group(:name).order(:name), :id, :name, include_blank: :true
  %br
  = f.label :path
  = f.text_field :path
  %br
  = f.label :file
  = f.text_field :file
  %br
  = f.label '⇨'
  = f.file_field :file
  %br
  = f.submit :submit