/ %h2 チェック・リスト項目編集画面
/ = button_to 'Return to Monitoring View', owners_show_path, method: :get
/ = link_to 'Return', :back
/ = button_to 'Return', :back, method: :get

= form_for @item, url: item_update_path(@item)  do |f|
  = f.label :name, '項目名'
  = f.text_field :name
  %br
  = f.label :list_id, '便名'
  = f.collection_select :list_id, List.order(:name), :id, :name, include_blank: :true
  %br
  = f.label :file
  = f.text_field :file
  %br
  = f.label '⇨'
  = f.file_field :file
  %br
  = f.label :url, 'URL'
  = f.text_field :url
  %br
  = f.submit :submit