!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CheckApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body
    // devise用ログアウト機能
    - if user_signed_in?
      %p= link_to "ログアウト", destroy_user_session_path, method: :delete
    // devise用flash message
    %p.notice= notice
    %p.alert= alert

    = yield
